* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: "Montserrat", sans-serif;
  --ff-body: "DM Sans", sans-serif;
  --ff-texting-message: "Dancing Script", cursive;

  --bg-page: linear-gradient(45deg, #190361 0%, #bb00ff 100%);
  --bg-box: #ffffff;
  --bg-box-message: hsla(198, 5%, 95%, 1);
  --bg-button: hsla(35, 100%, 50%, 1);

  --fc-text-primary: hsla(238, 43%, 36%, 1);
  --fc-text-message: hsla(0, 0%, 0%, 1);
  --fc-text-button: hsla(0, 0%, 100%, 1);
}

body {
  height: 100vh;
  display: grid;
  place-items: center;

  background: var(--bg-page);

  font-family: var(--ff-body);
  font-size: 1.5rem;
  line-height: 2rem;
}

.first-screen,
.second-screen {
  background: var(--bg-box);
  width: 42.8rem;
  height: 42.4rem;

  border-radius: 0.5rem;
  box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.8);

  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 6.4rem;

  gap: 1.7rem;
}

.box h1 {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;

  max-width: 25.8rem;

  text-align: center;
}

.first-screen p {
  font-weight: 400;
  color: var(--fc-text-primary);
}

.first-screen img {
  cursor: pointer;

  width: 30rem;
  height: 20rem;
}

.first-screen img:hover {
  animation: shake-cookie-animation .27s infinite;
}

@keyframes shake-cookie-animation {
  0% {
      transform: translateX(0);
  }
  25%{
      transform: translateY(1.5%);
  }
  50% {
      transform: translateX(-2.5%);
  }
  75%{
      transform: translateY(-1.5%);
  }
  100% {
      transform: translateX(0);
  }
}

.hide {
  display: none;
}

.second-screen {
  height: 56.4rem;
}

.second-screen h1 {
  max-width: 29.7rem;
}

.second-screen p {
  background: var(--bg-box-message);

  font-family: var(--ff-texting-message);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--fc-text-message);
  text-align: center;

  padding: 1rem;
  width: 29.3rem;
  height: 12rem;

  display: flex;
  align-items: center;

  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

  animation: downtop 2s 8ms backwards;
}

.second-screen img {
  margin: 4.3rem 0rem;
}

.second-screen button {
  background: var(--bg-button);

  padding: 1.6rem;
  width: 17.4rem;
  height: 5.2rem;

  border: none;
  cursor: pointer;

  border-radius: 0.4rem;

  color: var(--fc-text-button);
  font-weight: 700;
  text-align: center;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(12rem);
    width: 0%;
    font-size: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 720px) {
  .first-screen,
  .second-screen {
    width: 32rem;

    margin: 4.8rem 0;
  }
}
